<div class="headercontainer">
  <li class="namelogo" routerLinkActive="active" routerLink="/dashboard/home">
    <span class="material-symbols-outlined logo" [ngStyle]="{ color: 'orange' }"
      >home</span
    >
    <a style="cursor: pointer" class="nav-link">Dashboard</a>
  </li>

  <li class="namelogo" routerLinkActive="active" routerLink="/dashboard/info">
    <span class="material-symbols-outlined logo" [ngStyle]="{ color: 'orange' }"
      >info</span
    >
    <a style="cursor: pointer" class="nav-link">Info</a>
  </li>
  <li
    class="namelogo"
    routerLinkActive="active"
    routerLink="/dashboard/overview"
  >
    <span class="material-symbols-outlined logo" [ngStyle]="{ color: 'orange' }"
      >account_circle</span
    >
    <a style="cursor: pointer" class="nav-link">Overview</a>
  </li>

  <li class="namelogo" (click)="logoutUser()">
    <span class="material-symbols-outlined logo" [ngStyle]="{ color: 'orange' }"
      >logout</span
    >
    <a style="cursor: pointer" class="nav-link">Log out </a>
  </li>
</div>
